h1, h2, h3, h4, h5, p{
	margin-bottom: 10px;
}

p{
	line-height: 20px;
}

a{
	text-decoration: none;
	color: #FF462B;
}

.clearfix{
	clear: both;
}

.animate{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


/* required */



  .col{
	position: relative;
	float: left;
	height: 100%;
}

  .col .content{
	padding: 40px;
}

  ul{
	margin: 0px;
}

  ul li{
	list-style: none;
}

  .noteList li{
	color: #ffffff;
	margin-bottom: 10px;
}

  .notes p,
  .notes input,
  .noteList li{
	font-weight: 300;
	font-size: 14px;
}

  .notes p{
	border-bottom: solid 1px rgba(255,255,255,0.4);
}

  .notes input{
	background-color: #F48989;
	color: #ffffff;
	border: none;
	width: 200px;
}

  .addNote,
  .removeNote{
	float: right;
	color: rgba(255,255,255,0.4);
	font-weight: bold;
	margin-left: 20px;
}

  .addNote:hover,
  .removeNote:hover{
	color: #ffffff;
}

  .addNote{
	font-size: 16px;
}


.rightCol{
    width: 40%;
    /* background-color: pink; */
    /* font-size: 40px; */
}

 .rightCol h2{
	color: #C7BEBE;
	text-align: right;
	margin-bottom: 70px;
}

 .months li,
 .weekday li,
 .days li{
	float: left;
	text-transform: uppercase;
}

  .months li a,
  .weekday li a,
  .days li a{
	display: block;
	color: #747978;
}

  .months li a{
	font-size: 15px;
	color: #C7BEBE;
	text-align: center;
	/* width: 32px; */
    /* margin-bottom: 20px; */
    padding-bottom:20%;
}

  .months li .selected{
	font-weight: bold;
	color: #747978;
}

  .weekday li a{
	width: 55px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 12px;
}

  .days li{
	width: 55px;
}

  .days li a{
	width: 36px;
	height: 24px;
	text-align: center;
	margin: auto auto;
	font-size: 12px;
	font-weight: bold;
	border-radius: 12px;
	margin-bottom: 10px;
	padding-top: 10px;
}


  .days li a:hover{
	background-color: #EEEDE9;
}

  .days li .selected{
	background-color: #F5A1A3!important;
	color: #ffffff;
}

  .days li .event{
	color: #F5A1A3;
}


/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }